*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}
a{
    text-decoration: none;
}

 /* header start */

header .navbar{
    width: 81.25%;
    max-width: 1170px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 52px 0px 0px;
}
.navbar .logo{
    display: flex;
    padding-right: 16px;

}
.navbar .logo img{
    width: 48px;
    height: 56.008px;
    padding-right: 16px;
}
.navbar .logo h2 a{
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}
.navbar .logo h2 a span{
    color: #FF5400;
}
.navbar .nav-links .menu{
    display: flex;
    gap: 2.5em;
}
.navbar .nav-links .menu li{
    list-style: none;
    padding: 10px 0px;
}
.navbar .nav-links .menu li a{
    color:#424247;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
.navbar .nav-links .menu .active{
    color: #FF5400;
}
.navbar .nav-links .menu li a:hover{
    color: #FF5400;
    transition: 0.3s ease;
}
.navbar .nav-links .hamburger{
    display: none;
}

 /* header end */

 /* body start */
section{
    width: 81.25%;
    max-width: 1170px;
    margin: 50px auto; 
}
.banner{
    /* width: 81.25%;
    max-width: 1170px;
    margin: 50px auto; */
    padding: 104px 0px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../images/Group13.png);
    background-position: center center;
    background-repeat: no-repeat; 
    background-size: cover;
}
.banner .banner-text{
    text-align: center;
}
.banner .banner-text h1{
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    padding: 0px 16px;
}
.banner .banner-text p{
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 18px 16px 48px;
}
.banner .banner-input{

    padding: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
}
.banner .banner-input .form-control{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    padding: 16px 15px;
    border: none;
    border-right: 10px solid transparent
}
.banner .banner-input button{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    border: 2px solid #FF5400;
    padding: 15px 15px;
}


.popular{
    display: flex;
    align-items: center;
    padding-top: 50px;
}
.popular .popular-text{
    text-align: left;
    padding-right: 50px;
    padding-bottom: 40px;
}
.popular .popular-text h2{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}
.popular .popular-text p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 24px 0px; /* 162.5% */
}
.popular .popular-text ul{
    padding-left: 1.5em;
}
.popular .popular-text li{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    padding: .5em 0em;
}
.popular .popular-text button{
    max-width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    border: 2px solid #FF5400;
    padding: 14px 34px;
}
.popular img{
    width: 100%;
    max-width: 540px;
    max-height: 550px;
}
.destination{
    padding-top: 50px;
}
.destination .destination-text{
    text-align: center;
}
.destination .destination-text h2{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.destination .destination-text p{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    padding: 28px 0px 48px;
}
.destination .row{
    height: 300px;
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}
.destination .row .img{
    position: relative;
}
.destination .row .img img{
    width: 100%;
    height: 100%;
}
.destination .row .img h4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
}
.choose .choose-text{
    padding-top: 50px;
    text-align: center;
}
.choose .choose-text h2{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}
.choose .choose-text p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    padding: 24px 0px 48px;
}
.choose .card{
    display: flex;
    gap: 24px;
    padding-bottom: 24px;
}
.choose .card .card-item{
    max-width: 573px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 32px 40px 32px 32px;
}
.choose .card .card-item h4{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    padding-top: 1em;
}
.choose .card .card-item p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-top: 1em;
}
.choose .card .item-2{
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.choose .choose-card-2{
    justify-content: center;
}
.news{
    display: flex;
    gap: 24px;
    align-items: center;
    padding-top: 50px;
}
.news .newsletter{
    max-width: 474px;
    text-align: left;
    padding: 40px;
    border-radius: 16px;
    border: 1px solid #FF5400;
}
.news .newsletter h3{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}
.news .newsletter p{
    color: #5A5A5D;
font-size: 16px;
font-weight: 400;
line-height: 26px;
padding: 16px 43px 24px 0px;
}
.news .newsletter form{
    border-top: 2px solid rgba(19, 19, 24, 0.10);
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0px 0px;
}
.news .newsletter form input{
    max-width: 393px;
    padding: 16px;
    color: rgba(19, 19, 24, 0.30);
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
}
.news .newsletter form button{
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    border: 1px solid #FF5400;
    padding: 14px 0px;
}

.news .save{
    height: 422px;
    position: relative;
}
.news .save img{
    width: 100%;
    height: 100%;
}
.news .save .travel-com{
    position: absolute;
    text-align: center;
    width: 280px;
    height: 80px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400;
    padding: 24px;
    top: 58%;
    right: 2%;
}

.news .save .travel-com p{
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}
.news .save .travel-com h4{
    color: #FFF;
    font-size: 32px;
    font-weight: 800;
}
.discover{
    padding: 40px 0px;
}
.discover .discover-text{
    text-align: center;
    padding: 44px 0px;
}
.discover .discover-text h2{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}
.discover-icon{
    display: flex;
}
.discover .discover-icon .stay-row{
    padding-bottom: 24px;
    flex: 1;
    display: flex;
    justify-content: space-around;
}
.discover .discover-icon .stay{
    padding: 14px 16px;
    text-align: center;
}
.discover .discover-icon .stay:hover{
    transform: scale(0.9);
    transition: transform 0.6s ease;
    overflow: hidden !important; 
}
.discover .discover-icon .stay img{
    max-width: 64px;
    padding-bottom: 16px;
    filter: opacity(0.8) drop-shadow(0 0 0 #131318);
}
.discover .discover-icon .stay h4{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}
footer{

    background: rgba(19, 19, 24, 0.05);
}
footer .footer{
    margin-bottom: 0px;
    padding-top: 100px;
    text-align: center;
}
footer .footer .footer-logo .logo{
    display: flex;
    padding-right: 16px;
    justify-content: center;
    align-items: center;
}
footer .footer .footer-logo .logo img{
    width: 40px;
    height: 46.673px;
    padding-right: 16px;
}
footer .footer .footer-logo .logo h2 a{
    color: #131318;
    font-size: 32px;
    font-weight: 800;
}
footer .footer .footer-logo .logo h2 a span{
    color: #FF5400;
}
footer .footer .footer-logo p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    padding: 15px 0px;
}
footer .footer .footer-logo .social{
    padding: 18px 0px 50px;
}
footer .footer .footer-logo .social a{
    padding-right: 30px;
}
footer .footer .footer-logo .social a img{
    height: 24px;
}
footer .footer .footer-logo .rights{
    border-top: 1px solid rgba(19, 19, 24, 0.10);
}
footer .footer .footer-logo .rights p{
    color: #131318;
    font-size: 16px;
    font-weight: 300;
    padding:50px 0px 110px;
}
@media screen and (max-width: 600px){
    header .navbar .logo{
        padding-right: 8px;
    }
    header .navbar .logo img{
        width: 28.724px;
        height: 33.516px;
    }
    header .navbar .logo h2 a{
        font-size: 21.543px;
    }
    header .navbar .nav-links .menu{
        display: none;
    }
    header .navbar .nav-links .hamburger{
        color: #131318;
        display: block;
        font-size: 32px;
    }
    .banner{
        padding: 32px 15px;
    }
    .banner .banner-text h1{
        font-size: 28px;
    }
    .banner .banner-text p{
        font-size: 14px;
        padding-bottom: 32px;
    }
    .banner .banner-input{
        flex-direction: column;
    }
    .banner .banner-input .form-control{
        width: 255px;
    }
    .banner .banner-input button{
        width: 255px;
    }
    .popular{
        flex-direction: column;
    }
    .discover .discover-icon{
        flex-direction: column;
    }
    .destination .row{
        height: auto;
        flex-direction: column;
    }
    .destination .row .img{
        height: 176px;
        width: auto;
    }
    .choose .card{
        flex-direction: column;
    }
    .news{
        flex-direction: column;
    }
    .news .save{
        height: auto;
    }
    .news .save .travel-com{
        width: auto;
        height: auto;
        top: 46%;
    }
    .news .save .travel-com p{
        font-size: 16px;
    }
    .news .save .travel-com h4{
        font-size: 20px;
    }
}
@media screen and (min-width: 600px) and (max-width:992px){
    .navbar .nav-links .menu{
        display: none;
    }
    header .navbar .nav-links .hamburger{
        color: #131318;
        display: block;
        font-size: 48px;
    }
    .banner{
        padding: 80px 20px;
    }
    .banner .banner-text h1{
        font-size: 38px;
    }
    .banner .banner-text p{
        font-size: 16px;
        padding: 18px 24px 40px;
    }
    .banner .banner-input{
        flex-direction: column;
    }
    .banner .banner-input .form-control{
        width: 255px;
    }
    .banner .banner-input button{
        width: 255px;
    }
    .popular{
        flex-direction: column;
    }
    .discover .discover-icon{
        flex-direction: column;
    }
    .destination .row{
        height: auto;
        flex-direction: column;
    }
    .destination .row .img{
        height: 300px;
        width: auto;
    }
    .choose .card{
        flex-direction: column;
        align-items: center;
    }
    .news{
        flex-direction: column;
    }
}